upload/
download/
work/sharpemu-build/
work/sharpemuT24/.packages/
work/sharpemuT24/artifacts/
work/sharpemuT24/localnuget/
*.tar.gz
*.zip
*.rar
*.nupkg
*.deb
*.exe
*.dll
*.so
*.bin
*.prx
*.ppm
*.bmp
*.log
*.tmp
SharpEmu
LICENSE.txt
libglfw*
